/**************** Reset CSS *****************/

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

/**************** Variáveis *****************/

:root{
    --color-red: #f9004d;
    --color-secundaryPurple: #fcfc;
    --color-backgroundBlack: #101010;

    --main-tittle-color: white;
    --main-tittle-margin: 20px 0px 20px;
    --main-tittle-font-size: 75px;

    --secondary-text-h3-color: white;
    --secondary-text-h3-font-size: 25px;
    --secondary-text-h3-margim-bottom: 50px;
    --secondary-text-h3-font-weigth: bold;

    --secondary-text-h4-color: #fcfc;
    --secondary-text-h4-letter-spacing: 2px;
    --secondary-text-h4-font-size: 20px;
    --secondary-text-h4-font-weigth: bold;

}

/**************** About Me *****************/

#about-me{
    background-color: var(--color-backgroundBlack);
    color: white;
    padding: 80px 120px;
}

.row-about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#personal-picture{
    width: 100%;
    height: 550px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2{
    flex-basis: 60%;
}

.tab-titles{
    display: flex;
    flex-direction: row;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-red);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.list-item{
    list-style: none;
    margin: 10px 0;
}

.job-item{
    color: var(--color-red);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}